@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"),
    url(./fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "MonsieurLaDoulaise-Regular";
  src: local("MonsieurLaDoulaise-Regular"),
    url(./fonts/MonsieurLaDoulaise-Regular.ttf) format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfaf5;
  color: #c9a144;
  min-height: 100%;
  padding-bottom: env(safe-area-inset-bottom);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: MonsieurLaDoulaise-Regular;
  letter-spacing: 1px;
  font-size: 64px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: 0;
  font-weight: 300;
  z-index: 10;
  text-align: center;
  animation: animateHeaderIn 3s ease-in-out forwards;
}

.main {
  display: flex;
  font-family: Montserrat-Light;
  height: 100%;
}

.main p {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.5);
  z-index: -1;
  transition: all 0.6s ease-in-out;
}

.wedding-highlights,
.wedding-full {
  opacity: 0;

  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateMainIn 2s ease-in-out forwards;
  animation-delay: 2s;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: blur(20px);
  z-index: 100;
  overflow: hidden;
  animation: animateVideoIn 1s ease-in-out forwards;
}

iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  border: none;
  z-index: 100;
}

.video-close {
  z-index: 10;
  position: fixed;
  top: 10px;
  right: 10px;
  outline: none;
  border: none;
  background-color: #c9a144;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-close svg {
  stroke: #fff;
  width: 46px;
  height: 46px;
}

@media (hover: hover) {
  .wedding-full:hover img,
  .wedding-highlights:hover img {
    filter: brightness(0.7) !important;
  }
}

@media screen and (max-width: 960px) {
  h1 {
    padding: 10px 0;
    top: 50% !important;
  }

  .main {
    flex-direction: column;
  }

  .main p {
    font-size: 24px;
  }

  .wedding-highlights,
  .wedding-full {
    width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 680px) {
  .main p {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 40px;
  }

  .main p {
    font-size: 18px;
  }
}

@keyframes animateHeaderIn {
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  51% {
    top: 80px;
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 80px;
  }
}

@keyframes animateMainIn {
  100% {
    opacity: 1;
  }
}

@keyframes animateVideoIn {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
